<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>FreeCourse course in free</title>
</head>
<style>
    .swiper-slide {
        max-width: 30rem;
        height: 35rem;
        border: 1px solid black;
    }

    .swiper {
        max-width: 135rem !important;
        padding: 0 2rem;

    }

    .swiper-slide {
        /* width: 100%; */
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around !important; */
        gap: 1rem;

    }

    .swiper-slide img {
        width: 100%;
        border: 1px solid rgb(93, 93, 93);
    }

    .swiper-slide p {
        font-size: 1.8rem !important;
        text-align: left !important;

    }

    .swiper-slide h2 {
        text-align: left !important;
        font-size: 1.8rem !important;
    }

    .swiper-slide .btn-2 {
        text-align: center !important;
        border-radius: 0 !important;
    }

    .swiper-slide .btn-2:hover {
        background-color: #5765e8 !important;
        transform: scale(1, 1) !important;
    }

    .swiper-slide-bottom {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        justify-content: space-evenly !important;
    }
    .section-hero::before {
    background-image: url("/static/img/heor-3-1.jpg") !important;


}
</style>

<body>
    <!-- Header  -->
    <%- include("./common/navbar.ejs") -%>
    <!-- hero section  -->
    <section class="section section-hero" id="hero">
        <div class="container d-flex d-flex-column">

        </div>
    </section>

        <!-- Swiper -->
        <section class="section section-course">
            <div class="container d-flex">
                <div class="container d-flex">
                    <h2 class="common-heading">Programming course</h2>
                </div>
            </div>
            <div class="container d-flex">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-2.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-2.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-7.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-6.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>

            <div class="container d-flex">
                <div class="container d-flex">
                    <h2 class="common-heading">Hacking courses</h2>
                </div>
            </div>
            <div class="container d-flex">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-2.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-2.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-7.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-6.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>


            <div class="container d-flex">
                <div class="container d-flex">
                    <h2 class="common-heading">Designing courses</h2>
                </div>
            </div>
            <div class="container d-flex">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-2.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-2.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-5.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-7.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-6.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/course-1.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>

                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>

        </section>


        <!-- navbar -->
        <%- include("./common/footer.ejs") -%>

            <!-- Some js file -->
            <script src="/static/js/index.js"></script>
            <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>

            <!-- Swiper JS -->
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 4,
                    spaceBetween: 20,
                    slidesPerGroup: 4,
                    loopFillGroupWithBlank: true,
                    freeMode: true,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev"
                    },
                    breakpoints: {
                        100:{
                            slidesPerView:1,
                            spaceBetween:20,
                            slidesPerGroup: 1,

                        },
                        400: {
                            slidesPerView: 2,
                            spaceBetween: 20,
                            slidesPerGroup: 2,
                        },
                        680: {
                            slidesPerView: 3,
                            spaceBetween: 20,
                            slidesPerGroup: 3,
                        },
                        1024: {
                            slidesPerView: 4,
                            spaceBetween: 20,                   
                        },
                    },
                });
            </script>


</body>

</html>