<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>
    <title>FreeCourse</title>
</head>

<body>
    <!------------------------------------- 
            Header start here
     --------------------------------------->
    <header class="header" id="header">
        <span class="logo"><a href="/">FreeCourse</a></span>
        <div class="nav-item">
            <form action="" method="" class="search-form">
                <!-- <i class="fa-solid fa-magnifying-glass d-none"></i> -->
                <input type="text" placeholder="Search here..." name="search" class="inputsearch d-block">
            </form>
        </div>
        <nav class="navbar" id="navbar">
            <div class="right-nav">
                <div class="nav-item dropdown">
                    <button class="drp-btn">Category<i class="fa-solid fa-caret-down"></i></button>
                    <div id="myDropdown" class="dropdown-content hdrop">
                        <a href="#home"><i class="fa-solid fa-arrow-right"></i>Programming</a>
                        <a href="#about"><i class="fa-solid fa-arrow-right"></i>Web development</a>
                        <a href="#contact"><i class="fa-solid fa-arrow-right"></i>DSA</a>
                        <a href="#contact"><i class="fa-solid fa-arrow-right"></i>Networking</a>
                    </div>
                </div>
                <div class="nav-item nav-btn">
                    <a href="/" class="btn-1">Register</a>
                </div>
            </div>

        </nav>
        <!-- <div class="burger">
            <i class="fa-solid fa-bars"></i>
        </div> -->
    </header>
    <section class="section section-hero" id="hero">
        <div class="container d-flex d-flex-column">
            <div class="hero-heading d-flex d-flex-column">
                <h1>FreeCourse Website For Course</h1>
                <p>Download all paid course in completly free. Direct download Link.</p>
            </div>
            <div class="hero-btn d-flex">
                <button class="btn-2">Course</button>
                <button class="btn-2">Join Us</button>
            </div>
        </div>

    </section>
    <section class="section section-feature">

        <div class="container">
            Feature seciton will upload soon.
        </div>
    </section>


    <!-- Some js file -->
    <script src="/static/js/index.js"></script>
    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>

</body>

</html>