<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>FreeCourse</title>
</head>

<body>
    <!------------------------------------- 
            Header start here
     --------------------------------------->
     <%- include("./common/navbar.ejs") -%>
    
    <!------------------------------------- 
            Hero Sction  start here
     --------------------------------------->
    <section class="section section-hero" id="hero">
        <div class="container d-flex d-flex-column">
            <div class="hero-heading d-flex d-flex-column">
                <h1>FreeCourse Website For Course</h1>
                <p>Download all paid course in completly free. Direct download Link.</p>
            </div>
            <div class="hero-btn d-flex">
                <a href="/course" class="btn-2">Course</a>
                <button class="btn-2">Join Us</button>
            </div>
        </div>
    </section>
    <!------------------------------------- 
            Feature Section start here
     --------------------------------------->
    <section class="section section-feature">
        <div class="container d-flex">
            <h2 class="common-heading">Features We Provide </h2>
        </div>
        <div class="container">
            <div class="feature-boxes grid grid-three-column">
                <div class="feature-box d-flex d-flex-column">
                    <i class="fa-solid fa-circle-down feature-icon"></i>
                    <h3>
                        Easy Download
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut deserunt aperiam blanditiis
                        pariatur nobis aliquam distinctio accusamus error? Earum, expedita.
                    </p>
                </div>
                <div class="feature-box d-flex d-flex-column">
                    <i class="fa-solid fa-circle-down feature-icon"></i>
                    <h3>
                        Easy Download
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut deserunt aperiam blanditiis
                        pariatur nobis aliquam distinctio accusamus error? Earum, expedita.
                    </p>
                </div>
                <div class="feature-box d-flex d-flex-column">
                    <i class="fa-solid fa-circle-question feature-icon"></i>
                    <h3>
                        Demand Course
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut deserunt aperiam blanditiis
                        pariatur nobis aliquam distinctio accusamus error? Earum, expedita.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!------------------------------------- 
            Course Section  start here
     --------------------------------------->
    <section class="section section-course">
        <div class="container d-flex">
            <h2 class="common-heading">Top Downloaded Course</h2>
        </div>
        <div class="container">
            <div class="course-boxes">
                <div class="course-box d-flex d-flex-column">
                    <div class="course-data">
                        <div class="course-img">
                            <img src="/static/img/course-2.jpg" alt="">
                        </div>
                        <div class="course-title">
                            <a href="/" class="course-heading">Tech hack Technical sagar course</a>
                            <p>Become a Ethical hacker by completing this course, This course is for absulute
                                begginers.Tech hack Technical sagar cours Become a Ethical hacker by completing this
                                course, This course is for absulute begginers.</p>
                        </div>
                    </div>
                    <div class="course-btn">
                        <span>15<i class="fa-solid fa-download"></i></span>
                        <span>Duration: 1.5hr</span>
                        <a href="/" class="btn-2">Get Free</a>
                    </div>
                </div>
                <!-- ========================== -->
                <div class="course-box d-flex d-flex-column">
                    <div class="course-data">
                        <div class="course-img">
                            <img src="/static/img/course-5.jpg" alt="">
                        </div>
                        <div class="course-title">
                            <a href="/" class="course-heading">Tech hack Technical sagar course</a>
                            <p>Become a Ethical hacker by completing this course, This course is for absulute
                                begginers.Tech hack Technical sagar cours Become a Ethical hacker by completing this
                                course, This course is for absulute begginers.</p>
                        </div>
                    </div>
                    <div class="course-btn">
                        <span>15<i class="fa-solid fa-download"></i></span>
                        <span>Duration: 1.5hr</span>
                        <a href="/" class="btn-2">Get Free</a>
                    </div>
                </div>
                <!-- ==================================== -->
                <div class="course-box d-flex d-flex-column">
                    <div class="course-data">
                        <div class="course-img">
                            <img src="/static/img/course-6.jpg" alt="">
                        </div>
                        <div class="course-title">
                            <a href="/" class="course-heading">Tech hack Technical sagar course</a>
                            <p>Become a Ethical hacker by completing this course, This course is for absulute
                                begginers.Tech hack Technical sagar cours Become a Ethical hacker by completing this
                                course, This course is for absulute begginers.</p>
                        </div>
                    </div>
                    <div class="course-btn">
                        <span>15<i class="fa-solid fa-download"></i></span>
                        <span>Duration: 1.5hr</span>
                        <a href="/" class="btn-2">Get Free</a>
                    </div>
                </div>
                <!-- ================================================== -->
                <div class="course-box d-flex d-flex-column">
                    <div class="course-data">
                        <div class="course-img">
                            <img src="/static/img/course-7.jpg" alt="">
                        </div>
                        <div class="course-title">
                            <a href="/" class="course-heading">Tech hack Technical sagar course</a>
                            <p>Become a Ethical hacker by completing this course, This course is for absulute
                                begginers.Tech hack Technical sagar cours Become a Ethical hacker by completing this
                                course, This course is for absulute begginers.</p>
                        </div>
                    </div>
                    <div class="course-btn">
                        <span>15<i class="fa-solid fa-download"></i></span>
                        <span>Duration: 1.5hr</span>
                        <a href="/" class="btn-2">Get Free</a>
                    </div>
                </div>
                <!-- ============================================ -->
                <div class="course-box d-flex d-flex-column">
                    <div class="course-data">
                        <div class="course-img">
                            <img src="/static/img/course-8.jpg" alt="">
                        </div>
                        <div class="course-title">
                            <a href="/" class="course-heading">Tech hack Technical sagar course</a>
                            <p>Become a Ethical hacker by completing this course, This course is for absulute
                                begginers.Tech hack Technical sagar cours Become a Ethical hacker by completing this
                                course, This course is for absulute begginers.</p>
                        </div>
                    </div>
                    <div class="course-btn">
                        <span>15<i class="fa-solid fa-download"></i></span>
                        <span>Duration: 1.5hr</span>
                        <a href="/" class="btn-2">Get Free</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------------- 
    Banner Section  start here
--------------------------------------->
    <section class="section section-banner">
        <div class="container d-flex d-flex-column">
            <h2>We Have More Than <span>1100+ Free </span> Course</h2>
            <a href="/course" class="btn-2">CHECK HERE</a>
        </div>
    </section>

<!------------------------------------- 
    Our team section  start here
--------------------------------------->
    <section class="section section-team">
        <div class="container d-flex">
            <h2 class="common-heading">Our Team Members</h2>
        </div>
        <div class="container grid grid-three-column">
            <div class="box">
                <div class="image">
                    ---<img src="/static/img/course-1.jpg">-----
                </div>
                <div class="name_job">
                    <h3>Mohd Azkar</h3>
                </div>
                <div class="rating">
                    <span>Project manager</span>
                </div>
                <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi
                    nemo.</p>
                <div>
                    <button class="btn-2">Portfolio</button>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    ---<img src="/static/img/hero2.jpg">-----
                </div>
                <div class="name_job">
                    <h3>Mohd Azkar</h3>
                </div>
                <div class="rating">
                    <span>Project manager</span>
                </div>
                <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi
                    nemo.</p>
                <div>
                    <button class="btn-2">Portfolio</button>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    ---<img src="/static/img/hero2.jpg">-----
                </div>
                <div class="name_job">
                    <h3>Mohd Azkar</h3>
                </div>
                <div class="rating">
                    <span>Project manager</span>
                </div>
                <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi
                    nemo.</p>
                <div>
                    <button class="btn-2">Portfolio</button>
                </div>
            </div>

        </div>

    </section>

    <!------------------------------------- 
    Our Testimonial section  start here
--------------------------------------->
    <section class="section section-testimonial">
        <div class="container d-flex">
            <h2 class="common-heading">TESTIMONIAL</h2>
        </div>
        <div class="container d-flex">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide d-flex d-flex-column">
                        <i class="fa-solid fa-quote-right"></i>
                        <p>Edison bulb retro cloud bread echo park, helvetica stumptown taiyaki taxidermy 90's cronut +1
                            kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut
                            adaptogen squid fanny pack vaporware. Man bun next level coloring book skateboard four loko
                            knausgaard. Kitsch keffiyeh master cleanse direct trade indigo juice before they sold out
                            gentrify plaid gastropub normcore XOXO 90's pickled cindigo jean shorts. Slow-carb next
                            level shoindigoitch ethical authentic, yr scenester sriracha forage franzen organic drinking
                            vinegar.</p>
                        <div class="divider"></div>
                        <h3>HOLDEN CAULFIELD</h3>

                    </div>
                    <div class="swiper-slide d-flex d-flex-column">
                        <i class="fa-solid fa-quote-right"></i>
                        <p>Edison bulb retro cloud bread echo park, helvetica stumptown taiyaki taxidermy 90's cronut +1
                            kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut
                            adaptogen squid fanny pack vaporware. Man bun next level coloring book skateboard four loko
                            knausgaard. Kitsch keffiyeh master cleanse direct trade indigo juice before they sold out
                            gentrify plaid gastropub normcore XOXO 90's pickled cindigo jean shorts. Slow-carb next
                            level shoindigoitch ethical authentic, yr scenester sriracha forage franzen organic drinking
                            vinegar.</p>
                        <div class="divider"></div>
                        <h3>HOLDEN CAULFIELD</h3>

                    </div>
                    <div class="swiper-slide d-flex d-flex-column">
                        <i class="fa-solid fa-quote-right"></i>
                        <p>Edison bulb retro cloud bread echo park, helvetica stumptown taiyaki taxidermy 90's cronut +1
                            kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut
                            adaptogen squid fanny pack vaporware. Man bun next level coloring book skateboard four loko
                            knausgaard. Kitsch keffiyeh master cleanse direct trade indigo juice before they sold out
                            gentrify plaid gastropub normcore XOXO 90's pickled cindigo jean shorts. Slow-carb next
                            level shoindigoitch ethical authentic, yr scenester sriracha forage franzen organic drinking
                            vinegar.</p>
                        <div class="divider"></div>
                        <h3>HOLDEN CAULFIELD</h3>

                    </div>

                </div>
            </div>
        </div>
    </section>
    
    <%- include("./common/footer.ejs") -%>


    <!-- Some js file -->
    <script src="/static/js/index.js"></script>
    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
        //Swiper
        var swiper = new Swiper(".mySwiper", {
            //slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },

        });
    </script>

</body>

</html>