<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to FreeCourse</title>
</head>
<style>
    #section {
        width: 100vw;
        height: 80vh;
        /* border: 1px solid red; */
        display: grid;
        place-content: center;
    }

    #container {
        width: 50rem;
        height: 60rem;
        border: 1px solid rgb(144, 144, 144);
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(52, 51, 51, 0.2), 0 6px 20px 0 rgba(54, 53, 53, 0.19);
        padding: 10px;
    }

    .login-form h2 {
        font-size: 3rem;
        text-align: center;
        margin: 3rem 0;
    }

    .login-form form {
        display: flex;
        flex-direction: column;

    }

    .login-form form input {
        padding: 1rem;
        font-size: 2.5rem;
        margin: 5px 0px;
        outline: none;
    }

    .forger-pass {
        text-align: right;
        padding: 2px;
        margin: 5px;
    }

    .forger-pass span {
        color: grey;
        font-size: 2rem;

    }

    .forger-pass a {
        color: green;
        font-size: 2rem;
        text-decoration: none;


    }

    .forger-pass a:hover {
        color: rgb(18, 72, 18);


    }

    .login-form form button {
        padding: 1rem;
        font-size: 2.5rem;
        margin: 5px 0px;
        background-color: rgb(159, 159, 201);
    }

    .login-form form button:hover {

        background-color: rgb(123, 123, 163);
    }

    .signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
    }

    .signup span {
        color: rgb(126, 124, 124);
        font-size: 16px;
    }

    .signup a {
        color: green;
        font-size: 18px;
        text-decoration: none;

    }

    .signup a:hover {
        color: rgb(29, 82, 29);

    }
    button{
        border: none;
    }
</style>

<body>
    <!-- Header -->
    <%- include("./common/navbar.ejs") -%>

        <section id="section">
            <div id="container" class="login-form">
                <h2>Signup to your accont</h2>
                <form action="/signup" method="post">
                    <input type="text" name="name" id="name" required placeholder="Full Name">
                    <i class="fa-solid fa-user"></i>
                    <input type="email" name="email" id="Email" required placeholder="Email">
                    <i class="fa-solid fa-key"></i>
                    <input type="password" name="password" id="password" required placeholder="Password" min="8">
                    <i class="fa-solid fa-key"></i>
                    <input type="password" name="cnf_password" id="cnf_passwrd" required placeholder="Confirm password" min="8">

                    <button class="login-btn" type="submit">Signup</button>
                </form>
                <div class="signup">
                    <span>Already have an account?</span>
                    <a href="/login">Signup Now</a>
                </div>

            </div>
        </section>

        <!-- Footer -->
        <%- include("./common/footer.ejs") -%>

        <script src="/static/js/index.js"></script>

</body>

</html>