<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Course FreeCourse</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    html {
        font-size: 53%;

    }

    body {
        background-color: #f6f6f6;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }



    section {
        padding-top: 5rem;
    }

    h1 {
        text-align: center;
        font-size: 3.5rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;

    }

    .container {
        max-width: 120rem;
        margin: auto;
        /* border: 1px solid red; */

    }

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 3rem;
        gap: 3rem;
        border: 1px solid black;
        padding: 2rem;
    }

    .box {
        /* border: 1px solid black; */
        min-height: 5rem;

    }

    #box2 {
        grid-column: 2/-1;
        grid-row: 1/3;
    }

    input {
        width: 100%;
        height: 100%;
        font-size: 2rem;
        padding: 0 1rem;

    }

    span {
        font-size: 1.5rem;

    }

    select {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    textarea {
        min-width: 100%;
        min-height: 100%;
        resize: none;
        font-size: 2rem;
        padding: 0 1rem;
    }

    @media (max-width:800px) {
        html {
            font-size: 47%;
        }

        form {
            grid-template-columns: 1fr;
        }

        #box2 {
            grid-column: 1/-1;
            grid-row: 2/3;
            /* min-height: 100%; */
        }

        
    }
</style>

<body>
    <section>
        <div class="container">

            <h1>UpdateCourse</h1>
            <form action="/uploadcourse" method="post" enctype="multipart/form-data">

                <div class="box" id="box1"><input type="text" placeholder="Course Id" required name=<%= responce.c_id %> disabled id="course_id">
                </div>
                <div class="box" id="box2">
                    <textarea name="description" id="descrip" placeholder="*Description about course..."
                        required></textarea>
                </div>
                <div class="box" id="box3"><input type="text" name="title" placeholder="*Course title" required></div>
                <div class="box" id="box4"><input type="text" name="author" id="author" placeholder="*Author" required>
                </div>
                <div class="box" id="box5"><select name="language" id="lang">
                        <option value="language">*Language</option>
                        <option value="english">English</option>
                        <option value="hindi">Hindi</option>
                    </select></div>
                <div class="box" id="box6"><input type="text" name="duration" placeholder="*Duration in min" required>
                </div>
                <div class="box" id="box7"><input type="text" name="keyword" placeholder="*Keyword seprate with comma"
                        required></div>
                <div class="box" id="box8"> <input list="browsers" name="trends" placeholder="top five,most downloaded,recent upload"/>
                </div>
                <div class="box" id="box9"><input type="text" name="no_of_download" placeholder="No of download"></div>
                <div class="box" id="box10"><input type="text" name="category" placeholder="*Category" required></div>
                <div class="box" id="box11"><input type="text" name="link" placeholder="*Download link" required></div>
                <div class="box" id="box12"><span>Upload image:</span><input type="file" name="imageFile" required>
                </div>
                <div class="box" id="box13"><input type="submit" value="Update"></div>

            </form>
        </div>


    </section>
    <script>
        const courseId = document.getElementById("course_id");
        // courseId.value = <%= responce.c_id %>;
        const discription = document.getElementById("box1");
        const title = document.getElementById("box1");
        const author = document.getElementById("box1");
        const language = document.getElementById("box1");
        const duration = document.getElementById("box1");
        const keyword = document.getElementById("box1");
        const trend = document.getElementById("box1");
        const download = document.getElementById("box1");
        const category = document.getElementById("box1");
        const link = document.getElementById("box1");
        // const  field= ument.getElementById("box1");
    </script>
    
</body>

</html>