<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>
</head>

<body>
    <footer class="section-footer">
        <div class=" container grid grid-three-column">
            <div class="f-support f-box">
                <h3>Have any Queries and Suggestions?</h3>
                <p>Mail us for any types of query and suggestion. If you want to post course in this website then your
                    most welcome mail in below given email address.</p>
                <span><a href="mailto:mohdazkar@outlook.com">mohdazkar@outlook.com</a></span>
                <div class="f-social-icons d-flex">
                    <i class="fa-brands fa-instagram icon"></i>
                    <i class="fa-brands fa-github icon"></i>
                    <i class="fa-brands fa-linkedin icon"></i>
                </div>

            </div>
            <div class="f-box ">
                <h3>Links</h3>
                <div class="f-links">
                    <a href="/"><i class="fa-solid fa-arrow-right"></i>Home</a>
                    <a href="/"><i class="fa-solid fa-arrow-right"></i>Top Course</a>
                    <a href="/"><i class="fa-solid fa-arrow-right"></i>DSA</a>
                    <a href="/"><i class="fa-solid fa-arrow-right"></i>Programming</a>
                    <a href="/"><i class="fa-solid fa-arrow-right"></i>Hacking</a>

                </div>


            </div>
            <div class="f-askcourse f-box">
                <h3>Ask For Course</h3>
                <form action="/" class="d-flex d-flex-column">
                    <input type="text" name="c-name" placeholder="Course name" id="">
                    <input type="text" name="c-link" placeholder="Paste course link" id="">
                    <input type="submit" name="Submit" id="">
                </form>

            </div>

        </div>
        <div class="container">
            <div class="f-credit">
                <p>
                    Copyright &copy; all rights reserved. This website is made by AzKaR</p>
                </p>
            </div>

    </footer>
    <script src="/static/js/index.js"></script>

    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>
</body>

</html>