<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header" id="header">
        <span id="logo"><a href="/">FreeCourse</a></span>
        <nav class="navbar" id="navbar">
            <div class="right-nav">
                <div class="drapdown" id="dropdown" onmouseover="drop_hover(this)" onmouseout="drop_out(this)">
                    <button class="dropbtn">Categries <i class="fa-solid fa-caret-down"></i></button>
                    <div class="dropdown-contant" id="drop-contant">
                        <a href="">Programming</a>
                        <a href="">Designing</a>
                        <a href="">Data Structure</a>
                    </div>
                </div>
                <div class="nav-item nav-btn">
                    <button class="sm-btn"><a href="/signup">SignUp</a></button>
                    <button class="sm-btn"><a href="/login">LogIn</a></button>
                </div>
            </div>
        </nav>
        <div class="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <script src="/static/js/index.js"></script>

    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>

</body>

</html>